<% content_for :content_right do %>
<div>
  <%= form_for (@version), url: {action: "create"} do |f| %>
    <table>
      <tr>
        <td>版本时间： </td>
        <td><%= f.text_field :work_year%></td>
      </tr>
      <tr>
        <td>版本编号： </td>
        <td><%= f.text_field :identifer %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit '提交' %></td>
      </tr>
    </table>
  <% end %>
</div>
<% end %>