/*userd for dargram view page*/
.diagram_div {
  text-align: center;
  width: 97%;
  display: block;
  margin-top: 50px;
}

.diagram_table {
  text-align: left;
  width: 40%;
  display: block;
}

.diagram_table_total_count {
  background-color: gray;
}

.diagram_comments {
  margin-left: 50px;
  display: inline-block;
}

.comment {
  text-align: left; 
}
.comment_ok{
  width: 10px;
  height: 5px;
  background-color: #F38630;
}
.comment_ng{
  width: 10px;
  height: 5px;
  background-color: #E0E4CC;
}
.comment_ng_ok{
  width: 10px;
  height: 5px;
  background-color: #69D2E7;
}
.comment_undo{
  width: 10px;
  height: 5px;
  background-color: black;
}