
   a{
    text-decoration: none;
   }
   #pagetop{
    height: 34px;
    padding:0 20px;
    display: block;
    margin: 0;
   }
   #siteinfo{
    height: 20px;
    line-height: 30px;
    float: left;
    color: white;
    font-style: italic;
    font-size: 1.2em;
    padding:0;
    margin-top: 1px;
   }
   #siteinfo_right{
    float:right;
    margin-right:100px;
    margin-top:5px;
   }
   #siteinfo_right a{
    color:white;
    margin-left:30px;
    text-decoration: none;
   }
   #pagefooter{
    width: 100%;
    height: 44px;
    margin: 0 auto;
    color: black;
    padding-top: 10px;
    margin-top:15px;
    background-color: #111111;
    color: white;
   }
/*   #footerwrap{
    float: left;
    width: 70%;
    font-size: 14px;
    margin-left: 350px;
    /*margin-top: 620px;*/
   }*/
   #example_top{
    border:1px solid #CCC;
    width:100%;
    height: 30px;
    margin:0 auto;
    margin-top: 0px;
   }
    #example_top div{
    border:1px solid #dddddd;
    height: 30px;
    float: left;
    font-size: 11pt;
    font-family: "微软雅黑",Arial, Helvetica, sans-serif !important;
    font-weight: bold;
    text-align: center;
    padding-top: 3px;
  }
   .example_top_1{
    width:40px;
   }
   .example_top_2{
    width:260px;
   }
   .example_top_3{
    width:80px;
   }
   .example_top_4{
    width:200px;
   }
   .example_top_5{
    width:70px;
   }
   .example_top_6{
    width:75px;
   }
  .example_top_7{
    width:55px;
   }
  .example_top_9{
    width:70px;
   }
  .example_top_10{
    width:75px;
   }
  .example_top_11{
    width:120px;
   }
   #content{
    width:97%;
    height:80%;
    margin: 0 auto;
    margin-top: 20px;
    overflow-x: auto;
   }
   #example{
    margin-left: 10px;
   }

   #example_table{
    width:100%;
    height: 600px;
    margin:0 auto;
    margin-top: 0px;
    overflow-y: auto;
    overflow-x: auto; 
    margin-left: 0px;

   }
   #example_table td{
    border:1px solid #dddddd;
    font-size: 10pt;
    font-family: "微软雅黑",Arial, Helvetica, sans-serif !important;
    text-align: center;
  }
  .example_top_12{
    width:250px;
   }
   #example_table td label{
    text-align: center;
  }
  .background_1{
    background-color: #CCC;
  }
  .background_2{
    background-color: #CCFFFF;
  }
  .background_3{
    background-color: white;
  }
  .screen_img {
   display:inline-block;
   width:30%;
  }
  .preview_img {
    vertical-align: text-top;
    width:40%;
    height:100px; 
    display:inline-block;
  }

  #example_table th{
    text-align: center;
  }

  #example_table tbody{
    /*height: 500px !important;
    overflow-y: scroll;*/
  }

  #example_table tr:nth-child(even){
   /* background-color: #7575A3;*/
  }
  #content_top{
    width: 100%;

  }
  #content_top ul li{
    list-style-type: none;
    float: left;
    border:1px solid #CCC;
    height: 35px; 
    font-family: "微软雅黑",Arial, Helvetica, sans-serif !important;
    font-size: 1.1em;  
    padding-top: 5px;
    border-left-style: none;
    font-weight: bold;
  }
  #content_top ul{
    margin-left: -40px;
    text-align: center;

  }
